---
layout: default
title: Home
---

<h1 class="page-title">Rational Essays</h1>

These essays attempt to use reason to better understand the world. A common way people deviate from reason is by lying, so read about lying below. Find other essays in the sidebar (on top on mobile).

<br><br>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="page-title">{{ post.header | default: post.title }}</h1>
    {{ post.content }}
  </div>
  {% endfor %}
</div>

<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->
