---

---

body#elliottemple
  div#store
    h2
      color: #2F2F2F
      font-size: 1.3rem
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    h2 a:hover
      text-decoration: underline
  div#home
    h2 a
      text-decoration: underline
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
      color: #2F2F2F
      font-size: 1.6rem

