
<footer>
      <div class="sidebar-footer-mobile">

        {% include sidebar-footer.html %}
      
      </div>

      <!--<p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>-->

  </div>
</footer>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga-id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.ga-id }}');
</script>
