<!--
<footer class="when-small">
    <div class="container sidebar">
        <nav class="sidebar-nav">
            {% comment %}
            The code below dynamically generates a sidebar nav of pages with
            `layout: page` in the front-matter. See readme for usage.
            {% endcomment %}
-->

            <!--{% capture all_page_links %}-->
                <!--<a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>-->
                <!--{% assign pages_list = site.pages %}-->
                <!--{% for node in pages_list %}-->
                    <!--{% if node.title != null %}-->
                        <!--{% if node.layout == "page" %}-->
                            <!--<a class="sidebar-nav-item {% if page.url == node.url %}active{% endif %}" href="{{ node.url }}">{{-->
                                <!--node.title }}</a>-->
                        <!--{% endif %}-->
                    <!--{% endif %}-->
                <!--{% endfor %}-->
            <!--{% endcapture %}-->

            <!--{{ all_page_links }}-->


<!--            <h2>More Articles</h2>

            {% capture all_post_links %}
                {% assign post_list = site.posts %}
                {% for post in post_list %}
                <a class="sidebar-nav-item {% if page.url == post.url %}active{% endif %}" href="{{ post.url }}">
                    {{ post.title }}
                </a>
                {% endfor %}
            {% endcapture %}

            <div class="">

            {{ all_post_links }}
            </div>
            
          -->

            <!--<span class="sidebar-nav-item">Currently v{{ site.version }}</span>
        </nav>-->

        <!--<div class="sidebar-footer">-->
            <!--<hr>-->
            <!--<a class="sidebar-nav-item" href="http://fallibleideas.com">Fallible Ideas</a>-->
            <!--<a class="sidebar-nav-item" href="http://curi.us">Curiosity Blog</a>-->
        <!--</div>-->

        <!--<p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>-->
 <!--   </div>
</footer>
-->



<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-743670-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-743670-1');
</script>



