
<div class="sidebar ">
    <div class="container sidebar-sticky ">
        <div class="sidebar-about">
            <h1>
                <a href="{{ site.baseurl }}">
                    {{ site.title }}
                </a>
            </h1>
            <p class="lead">{{ site.description }}</p>
        </div>

        <nav class="sidebar-nav">

    
        </nav>

        <div class="sidebar-footer">
	  <hr>
			<p>Other Sites:</p>

            <a class="sidebar-nav-item" href="http://fallibleideas.com">Fallible Ideas</a>
            <a class="sidebar-nav-item" href="http://curi.us">Curiosity Blog</a>
        </div>

        <!--<p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>-->
    </div>
</div>
