---
layout: default
title: Essays
---

<h1 class="page-title">Essays</h1>

{% capture all_essay_links %}
     {% assign post_list = site.pages %}
         {% for post in post_list %}
          {% if post.category == "essays" %}
         <li><a href="{{ post.url }}">
             {{ post.title }}
         </a></li>
       {% endif %}
     {% endfor %}
 {% endcapture %} 

<ul id="essays">
	 
 {{ all_essay_links }}
 
	
</ul>

<p>Want to hear about new essays? <a href="https://criticalfallibilism.com/#/portal/signup">Subscribe at my Critical Fallibilism site.</a></p>
